<!-- <% include ./partials/header.ejs %> -->
PRESENT page (html for loop with render function (ie tunely) for all triggered loops)

Display user feed:
db.loops.find();
for loop through...
render and append.
<div class = "loops">
	
</div>

<% include ./partials/footer.ejs %>
