<% include ./partials/header.ejs %>
 <%include createLoop.ejs%>
<p>PRESENT page (html for loop with render function (ie tunely) for all triggered loops)
Display user feed:
db.loops.find();
for loop through...
render and append.<p>



<%loops.forEach(function(loop) {%>
  


//a way to see a new loop when created

 


 
         <!-- one loop -->
          <div class='row loop' data-loop-id='" + loop._id + "'>
            <div class='col-md-10 col-md-offset-1'>
              <div class='panel panel-default'>
                <div class='panel-body'>
                <!-- begin loop internal row -->
                  <div class='row'>" 
                    <div class='col-md-3 col-xs-12 thumbnail loop-art'> 
                       <img src='" + "http://placehold.it/400x400'  alt='album image'>
                    </div>
                    <div class='col-md-9 col-xs-12'>
                      <ul class='list-group'>
                        <li class='list-group-item'>
                          <h4 class='inline-header'>Loop Date:</h4>
                          <span class='album-name'> <%=loop.date%> </span>
                        </li>
                        <li class='list-group-item'>
                          <h4 class='inline-header'>Loop message:</h4> 
                          <span class='artist-name'> <%= loop.message%> </span>
                        </li>
                        <li class='list-group-item'>
                          <h4 class='inline-header'>Released date:</h4> 
                          <span class='album-releaseDate'>edit for loops</span>
                        </li>
                      </ul>
                   </div>
                  </div>
                  <!-- end of loop internal row -->

                </div> 
                <!-- end of panel-body -->

                <div class='panel-footer'>
                </div>

              </div>
            </div>
            <!-- end one loop -->






<%});%>
<div class = "loops">
</div>

<% include ./partials/footer.ejs %>
