<!DOCTYPE html>
<html>
<head>
<!-- Meta tags for character set and media display default -->
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width,initial-scale=1">

	<title>LOOPR</title>

<!-- Stylesheets -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" type= "text/css" href="../public/css/style.css">


</head>
<body>
	<div class="container-fluid">
		<div class="container">
				<div class="col-md-offset-4 col-md-4 loopr">
        		<h1>LOOPR</h1>
     			</div>
     			<div class ="col-md-offset-4 col-md-4 linksSec">
				<a href = "#">LOGIN</a>
				</div>
				<div class ="col-md-offset-4 col-md-4 linksSec">
				<a href = "#">SIGN UP</a>
     			</div>
     	</div>
     </div>

<!-- vendor scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- APPLICATION SCRIPT -->
    <script src="js/app.js"></script>
</body>
</html>